@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;  /*позже - не забывать про тень, контент имеет фиксируемую ширину 1200px и центрируется по странице*/
}

.main-container {  /*не понимаю, как работает*/
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1200 px;
  background-color: #FFFFFF;
}

.navigation {  /*width 1200 или как? другие размеры?*/
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.navigation-block {
  margin: 0;
  padding: 0;
  width: 507px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 607px;  /*или див делать с кключенным логином?*/
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  color: inherit; /*inherit - наследовать от родителя, т.к. автоматом не наследуется*/
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-search {
  margin: 0;
  padding: 0;
  width: 268px;
  margin-left: auto;
}

.navigation-user-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-user {
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block; /*почитать про свойство*/
}

.button-blue {
  background-color: #82B3D3;
}

.button-brown {
  background-color: #756157;
}

.button-green {
  background-color: #7DB54F;
}

.introduction {
  background-image: url("../images/decor-background.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover; /*cover - фон занимает весь блок, все доступное место*/
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #2cedca;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.welcome-img {
  margin: 0 auto;
  width: 458px;
}

.advantages {
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.advantages-block {
  margin: 0;
  padding: 0;
  width: 458px;
}

.advantages-title { /*слова на разных строках как*/
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages-item {
  background-color: #82B3D3;
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-medium {
  background: rgba(131, 179, 211, 0.2);
}

.reason-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reason-title-with-picture {
  color: #FFFFFF;
}

.reason-description {
  color: #333333;
}

.reason-description-with-picture {
  color: #FFFFFF;
}

.services {
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.services-block {
  margin: 0;
  padding: 0;
  width: 505px;
}

.services-item-light {
  background: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item-description {
  color: #333333;
}

.index-content {
  background-color: #FFFFFF;
  text-align: center;
}

.index-content-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.index-content-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.index-content-button {
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  text-align: center;
}

.subscription-img {
  background-image: url(../images/background-subscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.input-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}

.button-subscription {
  font-size: 20px;
  line-height: 36px;
  border: none;
}

.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.button-socials {
  text-decoration: none;
}

.developer-logo {
  text-decoration: none;
}

.contacts {
  font-style: normal;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.page-footer a {
  color: #000000;
}

.catalog-navigation {
  color: #FFFFFF;
  background-color: #66CDAA;
  background-image: url(../images/background-inner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumb-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.price-value {
  line-height: 24px;
  color: #000000;
  text-transform: lowercase;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.transparent-filter-button {
  background: transparent;
}

.input-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}

.catalog-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-view  {
  color: #000000;
  text-decoration: none;
}

.select-control {
  color: #333333;
  font-family: inherit;
  background-color: #FFFFFF;
}

.catalog-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.card-type {
  color: #333333;
}

.card-price {
  color: #333333;
}

.card-rating {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link-current {
  background: none;
  color: #000000;
}

.pagination-link-hidden {
  color: #000000;
  background: none;
}
